.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: var(--global-blue);
}

.logo {
  margin: 0;
  margin-right: 1rem;
  color: #fff;
  height: 40px;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.searchBar {
  position: relative;
  display: inline-block;
}

.searchLogo {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 5px 30px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profileName {
  color: #fff;
}

.bag {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bagCount {
  color: #fff;
}
