.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding-bottom: 0.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-out;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container:hover,
.container:focus-within {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

p {
  margin: 0.5rem auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.price {
  color: var(--global-blue);
}

.button {
  font-size: 1rem;
  padding: 0.3rem 1.5rem;
  outline: none;
  border: 2px solid transparent;
  color: #fff;
  background-color: var(--global-blue);
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.15s;
  z-index: 5;
}

.button:hover,
.button:focus {
  /* make background color just a bit blighter*/
  background-color: #0e6ece;
}

@media screen and (max-width: 1300px) {
  p {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.8rem;
  }
}
